@page "/"

<PageTitle>Index</PageTitle>


Welcome to your <b>Blazor playground</b> sample app.

<br />

App implements common functionalities needed fo modern developer using Blazor.
<br />
<hr />

<ol>
    <li>
        <a href="html">html encode</a>
    </li>
    <li>
        <a href="url">url encode</a>
    </li>
    <li>
        <a href="base64">base64 encode</a>
    </li>
    <li>
        <a href="json">json format</a>
    </li>
    <li>
        <a href="hash">SHA256 hash</a>
    </li>
    <li>
        <a href="guid">guid generation</a>
    </li>
    <li>
        <a href="escape">string escape</a>
    </li>
    <li>
        <a href="jwt">JWT</a>
    </li>
</ol>
